@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes pulse-gray {
  0%, 100% {
    background-color: rgb(48, 48, 48);
  }
  50% {
    background-color: #131313; /* Tailwind gray-300 */
  }
}

.animate-pulse-gray {
  animation: pulse-gray 2s ease-in-out infinite;
}